<div class="login-container">
  <h1><%= title %></h1>

  <div id="message-container"><%- messages() %></div>

  <% if (errors) { %>
    <ul class="error-list">
      <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>

  <form action="/account/login" method="post" class="login-form">
    <label for="account_email">Email Address:</label>
    <input
      type="email"
      id="account_email"
      name="account_email"
      required
      placeholder="Enter a valid email address"
    />

    <label for="account_password">Password:</label>
    <div class="password-help">
      Passwords must be at least 12 characters and contain at least 1 number, 1
      capital letter and 1 special character.
    </div>
    <input
      type="password"
      id="account_password"
      name="account_password"
      required
      pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
    />

    <button type="submit">Login</button>
  </form>

  <p class="signup-link">
    No account? <a href="/account/register">Sign-up here</a>
  </p>
</div>
