<% const d = new Date(); let year = d.getFullYear(); %>
<footer>
  <p class="copyright">&copy; 2026, CSE 340 App</p>
  
  <p><a href="/inv/trigger-error">Error Link</a></p>
</footer>
<script>
  window.onpageshow = function(event) {
    if (event.persisted) {
      window.location.reload();
    }
  };
</script>
