<div class="management-container">
  <h1><%= title %></h1>

  <%- messages() %>
  <div class="management-links">
    <ul>
      <li><a href="/inv/add-classification">Add New Classification</a></li>
      <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
    </ul>
  </div>

  <div class="inventory-lookup">
    <h2>Manage Inventory</h2>
    <p>
      Select a classification from the list to see the items belonging to the
      classification.
    </p>

    <%- classificationSelect %>
    <table id="inventoryDisplay"></table>

    <noscript>
      <p>JavaScript must be enabled to use this page.</p>
    </noscript>
  </div>
</div>

<script src="../../js/script.js"></script>